<!DOCTYPE html>
<html>
<head>
  <title> Meni </title>
  <style>
    body{
      background-image: url('https://s2.best-wallpaper.net/wallpaper/3840x2160/1708/Fish-slice-pepper-food_3840x2160.jpg');
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .price {
      color: grey;
      font-size: 22px;
    }

    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    .card button:hover {
      opacity: 0.7;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<p>Dostupno: <%= restaurant.length %> restorana</p>
<br>

<div class="container">
  <%for (let i=0; i<restaurant.length; i++) {%>


  <div class="col-sm-4">
    <div class="card">
      <img src="<%=restaurant[i].slika%>" alt="slika restorana" style="width:300px; height: 200px; ">
      <h1><%=restaurant[i].name%></h1>
      <p class="price"><%=restaurant[i].stars%>*</p>
      <p><%= restaurant[i].food%></p>
      <p><%= restaurant[i].telephone%></p>
      <p><%= restaurant[i].address%></p>
      <p><a href="/users/svi/restorani/<%=restaurant[i].id%>"> <button type="button" class="btn btn-outline-primary">Posjeti</button></a></p>
    </div>
    <br>
  </div>

  <%if (i%3==2) {%>
    <br>
  <%}%>

  <%}%>
</div>
</body>
</html>
